.amarillo {
  background: linear-gradient(44deg, #FFBB00, #FF7F3C);
}

.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #44B75B); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: 40px; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }

/*.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }*/

.btn-circle {
    width: 170px;
    height: 40px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.33;
    border-radius: 35px;
    font-weight: bold;
}

.btn:hover { color: #3793CB; text-decoration: none; background-color: #3793CB; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #3793CB; background-image: -moz-linear-gradient(top, #6eb6de, #44B75B); background-image: -ms-linear-gradient(top, #3793CB, #3793CB); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3793CB), to(#3793CB)); background-image: -webkit-linear-gradient(top, #3793CB, #3793CB); background-image: -o-linear-gradient(top, #3793CB, #3793CB); background-image: linear-gradient(top, #3793CB, #3793CB); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#3793CB, endColorstr=#3793CB, GradientType=0);  border: 1px solid #3793CB; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #3793CB; }
.btn-block {display:block; }
* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
html { width: 100%; height:100%; overflow:hidden; }
body {
    width: 100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
    background:url(imagenes/fondo_ini.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.login {
    position: absolute;
    top: 54%;
    left: 82%;
    margin: -150px 0 0 -150px;
    width:20em;
    height:27em;
    background-color: rgba(255, 255, 255, 1);
    border-radius:39px;    
}
.error {
    font-weight: bold;
    font-size: 12px;
    position: absolute;
    right: 2em;
    color: #3793CB; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:0px;
    text-decoration: none;
}
.login h1 { color: rgba(68, 183, 91, 1); text-shadow: 0 0 10px rgba(0,0,0,0); letter-spacing:1px; text-align:center; }
input { 
    width: 85%; 
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25px;
    <!--background: rgba(255,255,255,0);-->
    border: none;
    outline: none;
    padding: 6px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #595959;
    text-shadow: 0px 0px 0px rgba(0,0,0,0);
    border: 1px solid rgba(0,0,0,0);
    border-radius: 40px;
    box-shadow: 0px 0px 18px -5px;
    transition: box-shadow .5s ease;
    border: 0px dashed #808000;
    border-bottom: 1px solid #ffffff;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(255,255,255,0.7), 0 1px 1px rgba(255,255,255,0); }
#b{
    margin-left: 70px;
}
::-webkit-input-placeholder {
    color: #C9C9C9;text-align:center;
}

:-moz-placeholder { /* Firefox 18- */
    color: white;text-align:center;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: white;
    text-align:center;
}

:-ms-input-placeholder {  
    color: white;
    text-align:center;
}
#edit-submitted-name{  
    color: white;
    text-align:center;
}
